<% if flash[:notice] %>
  <div class="notice">
    <% flash[:notice].each do |message| %>
      <%= message %>
    <% end %>
  </div>
<% end %>

<div class="well">
  <div class="btn btn-default btn-sm active" role="button">
    <%= link_to "Sign Out", logout_path, method: :delete %>
  </div>

  <h2>Add A New Link</h2>
  <% if flash[:errors] %>
    <div class="errors">
      <% flash[:errors].each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>

  <%= form_for :link, url: '/links' do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :url %>:
        <%= f.text_field :url %><br />
      </div>

      <div class="form-group">
        <%= f.label :title %>:
        <%= f.text_field :title %><br />
      </div>

      <%= f.submit "Create Link"%>
    </div>
  <% end %>
</div>

<% unless @links.nil? %>
  <% @links.each do |link| %>
    <div class="<%= link.read_status %>" id="link<%= link.id %>">
      <h3 class="link-title">Title: <%= link.title %><h3>
      <h5 class="link-url">URL: <%= link.url %></h5>
      <% if link.read_status == "Read" %>
        <button class='btn btn-default btn-sm' value="Unread">Mark as Unread</button>
      <% else %>
        <button class="btn btn-default btn-sm" value="Read">Mark as Read</button>
      <% end %>
    </div>
    <span class="btn btn-default btn-sm">
      <%= link_to "Edit Link", link_path(link) %>
    </span>
  <% end %>
<% end %>
